**/logs

/udemy/HibernateCourseByReshmaBidikar/HibernateFromScratch/.idea/
/coursera/Data_Structures_and_Algorithms/Course_1_AlgorithmToolbox/coursework/.idea
/coursera/Data_Structures_and_Algorithms/Course_1_AlgorithmToolbox/coursework/target
/udemy/HibernateCourseByReshmaBidikar/HibernateFromScratch/target
